body{
    /* background-color: rgb(232, 248, 248); */
    margin: 0;
}

.righty{
    float: right;
}

.main-item{
    margin-right: 30px;
}

.main-icon{
    margin-right: 10px;
}

/* description of the day */
.day{
    background: url("../../images/gallery/fulls/sun.jpg");
    color:white;
     /* Set a specific height */
    height: 700px;

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:30px;

}

.center{
    text-align: center
}

/* navbar */
.bg-light {
    background-color: #053742!important;
}

.navbar-light .navbar-brand {
    color: #E8F0F2;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #F9DFDC;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #E8F0F2;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #F9DFDC;
}

.navbar-light .navbar-nav .nav-link {
    color: #E8F0F2;
}


.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 1rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #39A2DB;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    background-color: #A2DBFA;
    flex: 1 1 auto;
    padding: 1.25rem;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;

}

/* .btn-primary {
    color: black;
    background-color: #39A2DB;
    border-color: #39A2DB;
} */

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #39A2DB;
    border-top: 1px solid rgba(0,0,0,.125);
}




.day h1{
    display:inline-block;
}

.day-clock{
    margin: 50px 0;
}

/* tasks section */

.tasks{
    background: url("../../images/gallery/fulls/bg-1.jpg");
     /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:30px;
}

.tasks-body{
    margin: 50px 100px;

}

.tasks-body a{
    margin-left: 720px;
}

.text-center {
    text-align: left!important;
}

/* footer */
.footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color:black;
    border-top: 2px solid #bb9f05;
}

/* -------------------------TASK-DETAIL.HTML--------------------------------- */
.detail{
    background-image: linear-gradient(to right, #2ab6e9 , #105592);
}

.detail-title{
    margin-top:40px;
    margin-bottom:40px;
    margin-left:15px;
    font-family: 'Acme', sans-serif;
}

.table-dark {
    color: #fff;
    background-color: #233E8B;
}


.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;

}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #eff1f3;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.detail-form{
    margin-top:100px;
    margin-left: 200px;

}

/* -------------------------ALL TASKS.HTML--------------------------------- */
.all-table{
    margin-top: 50px;

}

.all-tasks{
    background-image: linear-gradient(to right, #7209b7 , #4361ee);
}

/* -------------------------ALL TASKS BY DATE.HTML--------------------------------- */
.date-body{
    margin-top:25px;
}

.taskbydate{
    background-image: linear-gradient(to right, #3EDBF0 , #77ACF1);
}


/*  --------------------------------------Task-------------------------------- */
.taskbytask{
    background-image: linear-gradient(to right, #AAD8D3 , #00ADB5);
}

/* ---------------- pendingtasks-------------------------- */
.pendingtask{
    background-image: linear-gradient(to right, #FFEAC9 , #FF616D);
}

/* ---------------- Add task-------------------------- */
.adtask-bg{
    background-image: linear-gradient(to right, #cdb4db , #ffc8dd);
}
