{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'todo/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'todo/assets/css/noscript.css' %}" /></noscript>


    <title>Add Task</title>
</head>
<body class="is-preload">
    <!-- Start day is today
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
    </form> -->
    <section class="panel color2-alt">
        <div class="intro color4">
            <!-- <h2 >Elements</h2>
            <p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam. </p> -->
        </div>
        <div class="inner columns aligned">
            <div class="span-4-5">
                <h3 class="major">Form</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">
                            <label for="demo-email"><h4>Task Name</h4></label>
                            {{form.task_name}}
                        </div>
                        <div class="col-md-4">
                            <label for="demo-email"><h4>End Date</h4></label>
                            {{form.end_date}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="demo-email"><h4>Description</h4></label>
                            {{form.task_desc}}
                        </div>
                        
                    </div> 
                    <input type="submit">
                </form> 
            </div>
        </div>
        <div class="intro color4">
            <!-- <h2 class="major">Elements</h2>
            <p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam. </p> -->
        </div>
    </section>
    

    <script src="{% static 'todo/assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'todo/assets/js/browser.min.js' %}"></script>
	<script src="{% static 'todo/assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'todo/assets/js/util.js' %}"></script>
	<script src="{% static 'todo/assets/js/main.js' %}"></script>
</body>
</html>